@import 'Styles/Master.css';


@media screen and (min-width: 600px) {
    .main-container {
        margin-left: 5rem;
    }
}


.main-container h2 {
    margin-bottom: 50px;
    text-align: center;
}

.form-container {
    padding-block: 80px;
    border-radius: 20px;
    border-radius: 10px;
    background: #F3FAFF;
    width: 90%;
    box-shadow: 0px 0px 20px var(--main-gray);
}

.generic-form {
    margin: 0;
    padding: 20px;
    width: auto;
    row-gap: 15px;
    column-gap: 10px;
}

.generic-form input, .generic-form select {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    border-radius: 5px;
    height: 40px;
    box-shadow: 0px 3px 23px rgba(52,53,69,0.1);
    top: 0px;
    left: 0px;
}

#ContentPlaceHolder1_BtnSubmit, .BtnSubmit {
    background-color: var(--accent-violet);
    color: white;
    font-weight: 600;
    letter-spacing: .05em;
    cursor: pointer;
}

.BtnSubmit{
    width: 120px;
    margin-left: 18px;
}

.removeItem {
    fill: #FB3640;
    color: #FB3640;
    margin-left: 12px;
}

.editItem {
    fill: #3a015c;
    color: #3a015c;
}