
/*-------------------------------- ESTILOS GENERALES --------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --main-white: #e0e0e0;
    --main-gray: #ECECEC;
    --font-color: #343545;
    --accent-violet: #385399;
    --transition-speed: 600ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-white);
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

a, a:visited{
    color: var(--font-color);
}

i {
    font-size: 25px;
}

ul > li, li{
    list-style-type: none;
}

.pointer{
    cursor: pointer;
}

.main-container {
    margin-left: 5rem;
    border: 1px solid green;
}
/*-------------------------------- ESTILOS DE SELECTORES --------------------------------*/
.navbar {
    position: fixed;
    background-color: var(--main-white);
    transition: width 600ms ease;
    overflow: hidden;
    box-shadow: 0px 3px 23px -2px rgba(52,53,69,0.3);
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--font-color);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.9);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--main-gray);
    color: var(--accent-violet);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: transparent;
    color: inherit;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i, .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* Estilos de las letras del logo */
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--font-color);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: var(--transition-speed);
    font-size: 2rem;
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px; /* El logo queda invisible en la posición inicial */
    transition: var(--transition-speed);
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
    margin-left: auto;
}

/* Pantallas chicas */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        min-width: 300px;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .main-container{
        margin: 0;
        border 3px solid black;
    }
}

/* Pantallas grandes */
@media only screen and (min-width: 600px) {

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem; /* Se agranda el ancho del navbar en hover */
    }

    .navbar:hover .link-text {
        display: inline; /* Se muestra el link text */
        font-weight: 600;
        color: var(--font-color);
    }

    .navbar:hover .logo-text {
        left: 0px; /* Luego de hacer el hover en el navbar el logo vuelve a su posición cero*/
    }
}
